<div class="active-demo-night">
  <h2>Active Demo Night</h2>
  <%= link_to('Create New Demo Night', new_admin_demo_night_path, class: "btn turing-btn waves-light waves-effect") if @demo_nights.currents.count == 0 %>
  <div class="row">
    <% @demo_nights.currents.each do |demo_night| %>
      <%= render partial: "demo_night", locals: { demo_night: demo_night } %>
    <% end %>
  </div>
</div>

<div class="closed-demo-nights">
  <h2>Closed Demo Nights</h2>
  <%= "No inactive demo nights" if @demo_nights.inactives.count == 0 %>
  <div class="row">
    <% @demo_nights.inactives.each do |demo_night| %>
      <%= render partial: "demo_night", locals: { demo_night: demo_night } %>
    <% end %>
  </div>
</div>
