<div class="active-demo-night">
  <h1>Demo Nights</h1>
  <% @demo_nights.currents.each do |dn| %>
    <%= "#{dn.name} | #{dn.status.humanize}" %>
    <% if dn.status != "accepting_submissions" %>
      <%= link_to "accept submissions", admin_demo_night_path(@demo_night, demo_night: {status: :accepting_submissions}), method: :patch, class: "waves-effect waves-light btn turing-btn" %>
    <% end %>
    <% if dn.status != "voting" %>
      <%= link_to "open voting", admin_demo_night_path(@demo_night, demo_night: {status: :voting}), method: :patch, class: "waves-effect waves-light btn turing-btn" %>
    <% end %>
    <% if dn.status != "closed" %>
      <%= link_to "close", admin_demo_night_path(@demo_night, demo_night: {status: :closed}), method: :patch, class: "waves-effect waves-light btn turing-btn" %>
    <% end %>
  <% end %>
</div>
