<div class="row">
  <div class="col l6 offset-l3 s10 offset-s1 center-align login z-depth-2">
    <h1>Log In</h1>
    <%= link_to "Sign in with GitHub", "auth/github", { class: "waves-effect waves-light btn turing-btn" } %>
  </div>
</div>
