sudo: required
dist: trusty
addons:
  chrome: beta
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
language: ruby
rvm: 2.3.4
cache:
  - bundler
before_install:
  - sh -e /etc/init.d/xvfb start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
before_script:
  - bundle exec rake db:create --all
  - bundle exec rake db:migrate
script:
  - bundle exec rspec
services:
  - postgresql
deploy:
  provider: heroku
  api_key:
    secure: ZTH0ezxQ3XZcKSuKVpO63dOdp6Sv8o2t3JWzH8VKomOaYNuvJAaqbkxcx/jpIiHWintcpDTSc4H2J0IfZUfVYD96ETCF87BIiOfWwBG3FCUqO1tVtrO8hRRBHTJrDaZy6Yj/DYBvot9et+zm7pTSTg3XPwbCuXkDL/s3u8sEVgLx+IdA4JR8h3OTmxpJi1mrbPLX61OFWfw+ja2kfEmVhFoSnPXd9ApzmnLgupIi9HQ07hNH1OWT6RNgVLfMvvlM7dkqlpTt8yW1JZTW1Rd5fKMdQLJmWJd1Bb7NNe9Pss4xiXqzMCtAXcVEYpk0fNX4zyIdCVNqhhCDF5zTeKo3cdk/Y050rh9WjqgAHcB/6wYwpY6hrBcCI4u6W8IsA9VBZmiFJlCTm5VCki8yIF28uy9BnoNufV3yvUOy0KaR1qq65W0DBziXv65J46WDUXVOUtBNTf6x8YJXjMEWt034iX3r7akZJAn37o30en8d8sFSfkzMSB3oVLaFar6vUydp3SGXB4QzZ41ZIBveE+3PFT9ZARDnWf23Xw8Hnw63GRwT8BaiSBUxasCVLq5cbPvQkkycBCrOb5u3bS+dvypiDSP5RcpC2FDoAyK0AgaYf5zuMH06ajtoXqRqfuSJEPVRWT9fU8URjyB3GwrunC0sO6y9vW3Vv3cdUUKnSeDaXNA=
  app:
    master: turingtalks
