<h1>Admin Dashboard</h1>

<%= link_to "Create New Demo Night", new_admin_demo_night_path, class: "waves-effect waves-light btn turing-btn btn-large" %>
<%= link_to "Current Projects", admin_projects_path, class: "waves-effect waves-light btn turing-btn btn-large" %>

<% if @demo_night.nil? %>
  <p>No current demo night available.</p>
<% elsif @demo_night.votes.length > 0 %>
  <%= render partial: 'vote_talley', locals: {projects: @demo_night.projects} %>
<% else %>
  <p>No votes yet.</p>
<% end %>
