<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo">DEMO NIGHT!</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%= render partial: "shared/nav_items" %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= render partial: "shared/nav_items" %>
      </ul>
    </div>
  </div>
</nav>
