<h1 class="page-title">Current Projects</h1>

<% if @projects.current_projects == [] %>
  <p>No current projects.</p>
<% else %>
  <ul class="collection">
  <% @projects.current_projects.each do |project| %>
  <li class="collection-item avatar">
    <span class="title"><b>Project Name:</b> <%= link_to project.name, edit_admin_project_path(project) %></span>
    <p><b>Group:</b> <%= project.members %></p>
    <p><b>Mod:</b> <%= project.project_type %></p>
    <p><b>Finals:</b> <i class="material-icons finals">
      <% if project.final_confirmation %>
        done
      <% else %>
        not_interested
      <% end %>
    </i></p>
  </li>
  <% end %>
  </ul>
<% end %>
