<h1 class="page-title">THE PROJECTS</h1>

<div class="unvoted">
  <h2>Unvoted</h2>
  <% @projects.check_votes.each do |project| %>
    <p>
      <%= link_to "Vote for #{project.name}", new_project_vote_path(project) %>
      <% if owner_and_accepting(project.id) %>
        - <%= link_to "Edit Project", edit_project_path(project) %>
      <% end %>
    </p>
  <% end %>
</div>

<div class="voted">
  <h2>Already Voted</h2>
  <% @projects.check_votes(current_user.id).each do |project| %>
    <p><%= project.name %></p>
  <% end %>
</div>
