<div class="row">
  <div class="col m6 offset-m2 s12">
    <h2 class="page-title">Create a New Project to Demo</h2>
    <%= render partial: "form" %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('select').material_select();
});
</script>
