<h1><%= @project.name %></h1>

<p>Group Members: <%= @project.group_members %></p>
<p>Type: <%= @project.project_type %></p>
<p>Able to Present at Final Demo Night: <%= @project.final_confirmation %></p>
