<div class="admin-tools row">
  <%= render partial: "lightning_talk", locals: { lightning_talk: @lightning_talk } %>
</div>

<div class="projects">
  <% if @lightning_talk.projects.count == 0 %>
    No Talks Yet!
  <% else %>
    <%= render partial: 'vote_talley', locals: {projects: @lightning_talk.sorted_projects} %>
  <% end %>
</div>
