$turing-blue: #05C2D1;
body {
  background-color: #FFF;
  color: #000;
}

h1.page-title {
  font-size: 3vmax;
}

h2.page-title {
  font-size: 2.4vmax;
}

input.turing-btn, input.turing-btn:hover, input.turing-btn:active, input.turing-btn:hover,
a.turing-btn, a.turing-btn:hover, a.turing-btn:active, a.turing-btn:visited,
i.turing-btn, i.turing-btn:hover, i.turing-btn:active, i.turing-btn:visited {
  background-color: $turing-blue;
  margin-top: 10px;
  margin-right: 10px;
}

@media screen
and (max-width: 1024px) {
  .btn-large {
    margin-bottom: 20px;
  }
}

.main-container {
  padding-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.login {
  margin-top: 25px;
  background-color: #EEE;
  color: #000;
  & > a {
    margin-bottom: 50px;
  }
}

.nav-wrapper {
  background-color: $turing-blue;
}

i.material-icons {
  &.finals-no {
    font-size: 12px;
    font-weight: bold;
    color: red;
  }
  &.finals-yes {
    font-size: 12px;
    font-weight: bold;
    color: green;
  }
}
