<div class="row">
  <div class="col l6 offset-l3 s10 offset-s1">
    <h1 class="center-align page-title">Rating for <%= @project.name %></h1>
    <%= form_for(@vote, url: project_vote_path(@project)) do |f| %>
      <%= render partial: "vote", locals: {f: f} %>
    <% end %>
  </div>
</div>
